// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  max-width: 38rem;
  margin-left:  auto;
  margin-right: auto;
}

@media (min-width: $breakpoint-mobile) {
  .container {
	padding-left:  1.5rem;
	padding-right: 1.5rem;
  }
}

.page-footer {
  margin-bottom: 2rem;
  padding-left:  1.5rem;
  padding-right: 1.5rem;
}

@media (min-width: $breakpoint-mobile) {
  .page-footer{
	padding: 0;
  }
}
