// Posts and pages
//
// Each post is wrapped in `.post` and is used on default and post layouts. Each
// page is wrapped in `.page` and is only used on the page layout.

.posts{
  .year{
	border-bottom: 1px solid #eee;
  }
}

.posts .post:last-of-type{
  border-bottom: none;
  padding-bottom: 0;
}

@media print, (min-width: $breakpoint-mobile) {
  .posts .post:last-of-type{
	padding-bottom: 2em;
	border-bottom: 1px solid #eee;
  }
}

.page,
.post {
  margin-bottom: 2em;
  padding-bottom: 2em;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  border-bottom: 1px solid #eee;

  p:last-of-type{
	margin-bottom: 0;
  }
}

.post.post-full p{
  text-align: justify;
}

@media print, (min-width: $breakpoint-mobile) {
  .page,
  .post {
	padding-left: 0;
	padding-right: 0;
  }
}

// Blog post or page title
.page-title,
.post-title,
.post-title a {
  color: #303030;
}
.page-title,
.post-title {
  margin-top: 0;
}

// Meta data line below post title
.post-date {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
}

.post-tags{
  color: #9a9a9a;

  float: right;
  margin-top: -.5rem;

  font-size: 0.75rem;

  span{
	font-weight: bold;
  }

  ul{
	margin: 0;
	padding: 0;
	display: inline;
	
	li{
	  display: inline;

	  a{
		color: #9a9a9a;
	  }
	}
  }
}

.post-header{
  border-bottom: 1px solid #eee;
  margin-bottom: 2rem;
}

// Related posts
.related {
  padding-bottom: 2rem;
}

.related-posts {
  padding-left: 0;
  list-style: none;

  h3 {
    margin-top: 0;
  }

  li {
    small {
      font-size: 75%;
      color: #999;
    }

    a:hover {
      color: #268bd2;
      text-decoration: none;

      small {
        color: inherit;
      }
    }
  }
}
