<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

  <header class="masthead">
	  <div class="container">
		  <h3 class="masthead-title">
			  <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
		  </h3>

		  <nav class="masthead-menu">
			  <ol>
				  <li><a href="/about/">About</a></li>
				  <li><a href="http://github.com/icodethings/">Github</a></li>
				  <li><a href="http://twitter.com/matt_v/">Twitter</a></li>
			  </ol>
		  </nav>
	  </div>
  </header>

    <div class="container content">
      <main>
        {{ content }}
      </main>

      <footer class="page-footer">
        <small>
          &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
        </small>
      </footer>
    </div>

  </body>
</html>
